* {
    margin : 10px;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #15162D;

}
.BillieEilish{
    font-size: 25px;
    background-color: #FDA035;
    font-family : Rubik Mono One;
    border-radius: 10px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
      }
}

.Subtitlealbum{
    font-family: Rubik Mono One;
    color: white;
    text-align : center;
}
.Navbar{ 
    background-color: #15162D;
    background-size: cover;
    font-family: Rubik Mono One;
    margin-bottom: 30px;
    height : 30px;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.Link{
    list-style-type: none;
    text-decoration: none;
    color: #3E7ADA;
}
.Link a{
    margin : 0 90px;
    color: #3E7ADA;
    box-shadow: 0.3s ease;
}
.Link:hover a{
    box-shadow: 0px 4px 15px rgba(0,0,0,7);
}
/*Picture in left in the page News*/

.picturenews{
    display : flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.picturenews img{
    height : 600px;
    margin-left : 20px;
}
/*Newsletter*/

.Newsletter{
    display: flex;
    color: #FDA035;
    font-family: Rubik Mono One;
    flex-direction : row;
    justify-content: center;
    font-size: 2em;
}
.Newsletter:hover{
    color: white;
}
.Clip1 p{
    font-family: Rubik mono one;
    font-size: 1.5em;
    color: white;
}
.Clip1{
    align-items: center;
}
#slider{ 
    height: 315px; 
    width: 500px; 
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    padding: 0;
    font-size: 0;
    text-align: left;
    animation: 10s slidy infinite;
}
#slider figure img { 
    width: 20%; 
    height: 30%; 
    float: left; 
}
@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
}
.Name2 p{
    font-family: Rubik mono one;
    font-size: 1.5em;
    color: white;
}
.Imagesconverse{
    display: flex;
}
.Imagesconverse img{
    width : 250px;
    height : 200px;
}
.billieconcert{
    display: flex;
}
.billieconcert img{
    width : 250px;
    height : 200px;
}
.More p{
    display: flex;
    flex-direction :row-reverse;
    font-family: Rubik mono one;
    font-size: 1.5em;
    color: #FDA035;
}
.Aboutme p{
    margin-top: 5%;
    text-align: center;
    font-family : Rubik mono one;
    color : white;
    font-size: 1.5em;
}
.Link3{
    text-align: center;
    margin-bottom : 5%;
}

/*Music page*/

.NameAlbum{
    font-family: Rubik mono one;
    font-size: 1.5em;
    color: #FDA035;
}
.Text1{
    display : flex;
}
.CD img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width : 350px;
    height: 350px;
}
.CDtext{
    font-family: Rubik mono one;
    font-size: 1em;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.linkalbum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;

}
.Audio{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    margin-left: 3%;
}

/*Biography page*/

.Biography{
    text-align: center;
    font-family : Rubik Mono One;
    font-size : 5em;
    color : #FDA035
}
.Biography:hover{
    color: white;
}
.presentation{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    transition : transform .1s;
}
.presentation img{
    width : 250px;
    height : 250px;
}
.presentation img:hover{
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.Description{
    font-family: Rubik Mono One;
    font-size: 1em;
    color :white;
    text-align: center;
    margin-right : 10%;
    margin-left : 10%;
}
.Description:hover{
    color:#3E7ADA;
}
.More{
    font-family: Rubik Mono One;
    font-size: 1em;
    color: #FDA035;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;

}



