body, html {
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    background-color: #15162D;
}
/* smartphone portrait */
@media only screen and (max-width : 430px) {
    .banner {
        height: 70%;
        margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 55%;
        font-size: 3.5rem;
    }

    .vertical-menu {
        width: 80%;
    }

    .piccontent img {
        height: 70%;
    }
}
/* smartphone landscape */
@media only screen and (min-width : 440px) {
    .banner {
        height: 100%;
        margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 80%;
        font-size: 3.5rem;
    }

    .vertical-menu {
        width: 20%;
    }

    .piccontent img {
        height: 70%;
    }
    }
/* ordi */
@media only screen and (min-width : 1224px){
    .banner {
    height: 100%;
    margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 75%;
        font-size: 6rem;
    }

    .vertical-menu {
        width: 15%;
    }

    .piccontent img {
        height: 100%;
    }

    footer {
        height: 45%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .banner {
        height: 70%;
        margin: -8px;
    }

    .bannertext {
        font-size: 5em;
        top: 30%;
        left: 70%;
    }
}
@media only screen and (min-device-width : 933px) and (max-device-width : 1180px) and (orientation : landscape) {
    .banner {
        height: 100%;
        margin: -8px;
    }
    
    .bannertext {
        top: 40%;
        left: 75%;
        font-size: 6rem;
    }
    
    .vertical-menu {
        width: 15%;
    }
}


.banner {
    background-image: url(picstcharles/gare4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannertext {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #FDA035;
}

.fa-solid {
    color: #FDA035;
    font-size: 3em;
}

.banner .menu {
    top: 1%;
    cursor: pointer;
    padding: 1%;
}

.vertical-menu {
    display: none;
}

.menu:hover {
    .vertical-menu {
        display: block;
        transition:block 1s ease;
    }
    .yay {
        display: none;
    }
}

.vertical-menu a, .vertical-menu i {
    display: block;
    text-decoration: none;
    background-color: #202124;
    opacity: 0.8;
    padding: 5%;
}

.vertical-menu a {
    color: #3E7ADA;
    font-size: 2rem;
    border-bottom:2px solid #3E7ADA;
}

.vertical-menu a:hover {
    background-color: #15162D;
}

.par1, .par2, .par3 {
    color: white;
    font-size: 1.5rem;
    padding: 10%;
}

.par1, .par3 {
    text-align: left;
}

.par2 {
    text-align: right;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #FDA035;
    margin: 1em 5em;
    padding: 0;
}

.history hr {
    border-top: 5px solid #3E7ADA;
}

strong {
    color:#FDA035;
}

.piccontent img {
    width: 100%;
    object-fit: cover;
}

.piccontent p {
    color: #FDA035;
    text-align: right;
    font-size: 1.3rem;
}

footer {
    background-color: #FDA035;
    color: #202124;
    margin: -8px;
}
 
.footercontent {
    text-align: center;
    padding: 5%;
}

.fa-github {
    font-size: 3em;
    text-decoration: none;
    color: #202124;
}

.cardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin:2%;
    width: 40%;
}

.card h2 {
    color: #FDA035;
    font-size: 3rem;
}

.card h2:hover {
    color: #3E7ADA;
}

.card p {
    text-align: center;
    font-size: 2em;
    color: white;
}

.card a {
    text-decoration: none;
}

.history p {
    color: white;
    font-size: 1.5rem;
    text-align: right;
    padding: 5%;
}

.history h2 {
    color: #FDA035;
    font-size: 3rem;
    margin: 5% 0;
    margin-left: 2%;
}

.histpar1 {
    text-align: right;
}

.histpar2 {
    text-align: left !important;
}

.histpar3 {
    text-align: left !important;
}

.test img {
    position: sticky;
    top: 1%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.test h2 {
    text-align: center;
    font-size: 4em;
}

.test h2, .test p {
    position:relative;
}

.test p {
    background-color: #15162D;
    opacity: 0.9;
}