body, html {
    height: 100%;
    font-family: "Bebas Neue", sans-serif;
    background-color: #15162D;
}
/* smartphone portrait */
@media only screen and (max-width : 430px) {
    .banner {
        height: 70%;
        margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 55%;
        font-size: 3.5rem;
    }

    .vertical-menu {
        width: 80%;
    }

    .piccontent img {
        height: 70%;
    }

    .card h2 {
        font-size: 1.5em !important;
    }

    .card p {
        font-size: 1em !important;
    }

    .history h2 {
        font-size: 2.5em !important;
    }

    .futurecontent img {
        height: 20%;
    }

    .futurepara q {
        font-size: 1.5em;
        width: 40%;
    }

    .parag {
        font-size: 1em;
        margin-top: 10%;
    }

    .wrapper {
        margin-top: 10%;
        margin-left: -15px;
    }
    
    .wrapper * {
        height: 100px;
        width: 110px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .wrapper p {
        font-size: 1.5em;
    }

    .moreabout h2 {
        font-size: 5em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .liens {
        margin-bottom: 10%;
        border-right: #FDA035 5px solid;
        padding-right: 30%;
    }
    
    .liens a {
        font-size: 1.5em;
        margin: 5%;
        margin-left: 90%;
    }
    
    .liens img {
        width: 400%;
        height: 100%;
        margin: 5%;
        margin-left: 80%;
    }

}
/* smartphone landscape */
@media only screen and (min-width : 440px) {
    .banner {
        height: 100%;
        margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 80%;
        font-size: 3.5rem;
    }

    .vertical-menu {
        width: 20%;
    }

    .piccontent img {
        height: 70%;
    }

    .wrapper {
        margin-top: 10%;
        margin-left: -15px;
    }
    
    .wrapper * {
        height: 170px;
        width: 200px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .wrapper p {
        font-size: 2.5em;
    }

    .moreabout h2 {
        font-size: 6em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .liens {
        margin-bottom: 10%;
        padding-right: 30%;
    }
    
    .liens a {
        font-size: 3em;
        margin: 5%;
        margin-left: 50%;
    }
    
    .liens img {
        width: 350%;
        height: 100%;
        margin: 5%;
        margin-left: 50%;
    }
}
/* ordi */
@media only screen and (min-width : 1224px){
    .banner {
    height: 100%;
    margin: -8px;
    }

    .bannertext {
        top: 40%;
        left: 75%;
        font-size: 6rem;
    }

    .vertical-menu {
        width: 15%;
    }

    .piccontent img {
        height: 100%;
    }

    footer {
        height: 45%;
    }

    .parafuture {
        font-size: 1.5em;
    }

    .futurepara q {
        font-size: 8em;
        width: 60%;
    }

    .parag {
        font-size: 2em;
        margin-top: -60%;
    }

    .wrapper {
        margin-top: 30px;
        margin-left: -30px;
    }
    
    .wrapper * {
        height: 300px;
        width: 400px;
        margin: 5px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .wrapper p {
        font-size: 5em;
    }

    .moreabout h2 {
        font-size: 8.5em;
        margin-top: 5%;
        padding-left: -10%;
    }
    
    .liens {
        margin-bottom: 10%;
        border-right: #FDA035 5px solid;
        padding-right: 10%;
    }
    
    .liens a {
        font-size: 2em;
        margin: 5%;
        margin-left: 40%;
    }
    
    .liens img {
        width: 200%;
        height: 70%;
        margin: 5%;
        margin-left: 15%;
        margin-bottom: -20%;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .banner {
        height: 70%;
        margin: -8px;
    }

    .bannertext {
        font-size: 5em;
        top: 30%;
        left: 70%;
    }

    .futurecontent img {
        height: 40%;
    }

    .futurepara q {
        font-size: 2.5em;
        width: 40%;
    }

    .parag {
        font-size: 2em;
        margin-top: 10%;
    }

    .wrapper {
        margin-top: 5%;
        margin-left: -15px;
        margin-bottom: 5%;
    }
    
    .wrapper * {
        height: 200px;
        width: 230px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .wrapper p {
        font-size: 3em;
    }

    .moreabout h2 {
        font-size: 10em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .liens {
        margin-bottom: 10%;
        padding-right: 30%;
    }
    
    .liens a {
        font-size: 3em;
        margin: 5%;
        margin-left: 50%;
    }
    
    .liens img {
        width: 350%;
        height: 100%;
        margin: 5%;
        margin-left: 50%;
    }
}
@media only screen and (min-device-width : 933px) and (max-device-width : 1180px) and (orientation : landscape) {
    .banner {
        height: 100%;
        margin: -8px;
    }
    
    .bannertext {
        top: 40%;
        left: 75%;
        font-size: 6rem;
    }
    
    .vertical-menu {
        width: 15%;
    }

    .futurecontent img {
        height: 40%;
    }

    .futurepara q {
        font-size: 2.5em;
        width: 40%;
    }

    .parag {
        font-size: 2em;
        margin-top: 10%;
    }

    .wrapper {
        margin-top: 5%;
        margin-left: -15px;
        margin-bottom: 5%;
    }
    
    .wrapper * {
        height: 300px;
        width: 340px;
        margin: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    .wrapper p {
        font-size: 5em;
    }

    .moreabout h2 {
        font-size: 10em;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .liens {
        margin-bottom: 10%;
        padding-right: 30%;
    }
    
    .liens a {
        font-size: 3em;
        margin: 5%;
        margin-left: 50%;
    }
    
    .liens img {
        width: 600%;
        height: 100%;
        margin: 5%;
        margin-left: 40%;
    }
}


.banner {
    background-image: url(picstcharles/gare4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bannertext {
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #FDA035;
}

.fa-solid {
    color: #FDA035;
    font-size: 3em;
}

.banner .menu {
    top: 1%;
    cursor: pointer;
    padding: 1%;
}

.menu {
    transition: all 1s ease;
}

.vertical-menu {
    display: none;
}

.menu:hover {
    .vertical-menu {
        display: block;
    }
    .yay {
        display: none;
    }
}

.vertical-menu a, .vertical-menu i {
    display: block;
    text-decoration: none;
    background-color: #202124;
    opacity: 0.8;
    padding: 5%;
}

.vertical-menu a {
    color: #3E7ADA;
    font-size: 2rem;
    border-bottom:2px solid #3E7ADA;
}

.vertical-menu a:hover {
    background-color: #15162D;
}

.par1, .par2, .par3 {
    color: white;
    font-size: 1.5rem;
    padding: 10%;
}

.par1, .par3 {
    text-align: left;
}

.par2 {
    text-align: right;
}

hr {
    display: block;
    height: 5px;
    border: 0;
    border-top: 5px solid #FDA035;
    margin: 1em 5em;
    padding: 0;
}

.history hr {
    border-top: 5px solid #3E7ADA;
}

strong {
    color:#FDA035;
}

.piccontent img {
    width: 100%;
    object-fit: cover;
}

.piccontent p {
    color: #FDA035;
    text-align: right;
    font-size: 1.3rem;
}

footer {
    background-color: #FDA035;
    color: #202124;
    margin: -8px;
}
 
.footercontent {
    text-align: center;
    padding: 5%;
}

.fa-github {
    font-size: 3em;
    text-decoration: none;
    color: #202124;
}

.cardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    margin:2%;
    width: 40%;
}

.card h2 {
    color: #FDA035;
    font-size: 3rem;
}

.card h2:hover {
    color: #3E7ADA;
}

.card p {
    text-align: center;
    font-size: 2em;
    color: white;
}

.card a {
    text-decoration: none;
}

.history p {
    color: white;
    font-size: 1.5rem;
    text-align: right;
    padding: 5%;
}

.history h2 {
    color: #FDA035;
    font-size: 3rem;
    margin: 5% 0;
    margin-left: 2%;
}

.histpar1 {
    text-align: right;
}

.histpar2 {
    text-align: left !important;
}

.histpar3 {
    text-align: left !important;
}

.test img {
    position: sticky;
    top: 1%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.test h2 {
    text-align: center;
    font-size: 4em;
}

.test h2, .test p {
    position:relative;
}

.test p {
    background-color: #15162D;
    opacity: 0.9;
}

.futureintro {
    font-size: 2.5em;
    color: #FDA035;
    margin: 5%;
    text-align: right;
}

.futurecontent img  {
    object-fit: cover;
    width: 100%;
}

.parafuture {
    font-size: 1.5em;
    color: white;
    margin: 5%;
}

.futurepara {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: white;
    justify-content: baseline;
}

.quote {
    margin: 4%;
}

.futurepara q {
    color: #FDA035;
}


.futurepara span {
    font-size: 1em;
    color: white;
}

.parag {
    position: sticky;
    top: 0%;

}

.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
}

.wrapper * {
    object-fit: cover;
}

.wrapper p {
    color: #FDA035;
}
.gridpara, .gridpara2 {
    text-align: left;
}
.gridpara1 {
    text-align: right;
}

.wrapper img {
   filter :  grayscale(1);
   transition: all 1s ease;
}

.wrapper img:hover {
    filter: grayscale(0);
}

.moreabout {
    display: flex;
    justify-content:space-between;
}

.moreabout h2 {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: #FDA035;
}

.liens {
    display: grid;
    text-align: right;
    border-right: #FDA035 5px solid;
}

.liens a {
    display: grid;
    text-decoration: none;
    color: white;

}

.liens img {
    object-fit: cover;
}
